*{
    margin: 0;
    padding: 0;
  }
  body{
  background-color: #101013;
  color:white;
  font-family: 'Poppins', sans-serif;
  }
  nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color:#212e2e ;
  }
  nav ul{
  display: flex;
  justify-content: center;
  }
  nav ul li{
  list-style: none;
  margin: 0 23px;
  }
  nav ul li a:hover{
    text-decoration: none;
    text-shadow: 0 0 10px rgb(71, 71, 131),0 0 20px rgb(71, 71, 131),0 0 40px rgb(71, 71, 131)0 0 80px rgb(71, 71, 131);
    transition: 0.3s;
    color:rgb(157, 157, 196)
}
  nav ul li a{
  text-decoration: none;
  color: wheat;
  font-weight: 650;
  }
  .left{
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.1rem;
    color:wheat
  }

  .first{
    display: flex;
    margin: 80px 0;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .leftsection{
    font-family: 'Poppins', sans-serif;
  }
  .title{
    font-size: 2rem;
    color: wheat;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .container{
    font-size: 1rem;
    margin-top: 10px;
    align-items: start;
    justify-content: flex-start;
  }
  h1{
    color: rgb(103, 78, 161);
  }
  .container ul li a{
    text-decoration: none;
    color: rgb(202, 126, 71);
    font-size: 1.25rem;
    font-weight: 500;
  }